# Byte-compiled
**/__pycache__/

# Distribution / packaging
.Python

# Test 
**/__________test/
**/*.bak

# Local Databases
**/.DS_Store
**/__________database

# Service ENV
**/.env
# **/.env_builder.py
**/authencation.ini
**/__________keys

